<div class="cart-item">
    <span>{{ cartItem.product.name }}</span> x 
    <span>{{ cartItem.qty }}</span>: 
    <strong>{{ (cartItem.qty * cartItem.product.price) | currency:'INR'}}</strong>
</div>
