<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top p-2" width="100%" height="200" [src]="productItem.image"/> 
    
    <div class="card-body">
        <p class="card-text">
            <strong>{{productItem.price | currency:'INR'}}</strong>
        </p>
      <p class="card-text" style="height: 70px;">{{productItem.description | slice: 0:50}}...</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button (click)="handleAddToCart()"
          type="button" 
          class="btn btn-sm btn-primary product-btn">Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
      </div>
    </div>
</div>