<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="guest-form-card card">
            <div class="card-header text-center">
                <h2>Login Here</h2>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" name="username" class="form-control" [ngClass]="{'is-invalid': username.touched && username.invalid}" #username="ngModel" [(ngModel)]="model.username" required />
                        <span class="invalid-feedback">Username can't be blank</span>
                    </div>
                
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" [ngClass]="{'is-invalid': password.touched && password.invalid}" #password="ngModel" [(ngModel)]="model.password" required/>
                        <span class="invalid-feedback">Password can't be blank</span>
                    </div>
                
                    <div class="form-group">
                        <input type="checkbox" id="remember" name="remember" #remember="ngModel" [(ngModel)]="model.remember" />
                        <label class="ml-1" for="remember">Remember Me</label>
                    </div>

                    <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

